[Desktop Entry]
Name=F/9 Wavefront Sensor for Red Channel
Comment=F/9 Wavefront Sensor for Red Channel
Exec=/mmt/shwfs/shwfs_unified.tcl F9 Red
Icon=/mmt/admin/desktop/shwfs_f9.png
Terminal=true
MultipleArgs=false
Type=Application
Encoding=UTF-8
X-Desktop-File-Install-Version=0.3
Categories=Application;MMT;WFS;
