[Desktop Entry]
Name=F/5 Wavefront Sensor for Hecto
Comment=F/5 Wavefront Sensor for Hecto
Exec=/mmt/shwfs/shwfs_unified.tcl F5 Hecto
Icon=/mmt/admin/desktop/shwfs_f5.png
Terminal=true
MultipleArgs=false
Type=Application
Encoding=UTF-8
X-Desktop-File-Install-Version=0.3
Categories=Application;MMT;WFS;
